header.common-header {position: fixed;top: 0;left: 0;width: 100%;background: #333333;height: 40px;z-index: 999;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);box-sizing: content-box; margin-bottom:100px;}
header.common-header .container {max-width: 1200px;margin: 0 auto;position: relative;background-color:#333;}
.common-header .container .J_navList li,.common-header .container .sub-nav li{ line-height:40px; height:40px; padding:0 10px;}
.common-header .container .J_navList li{ float:left;}
.common-header .container .J_navList li a{ color:#b3b3b3;line-height:40px;height:40px; display:block;}
.common-header .container .J_navList li a:hover{ color:#fff;}
.common-header .container .J_navList .on a{ color:#fff; font-weight: bold; background:url(../images/arrow3.png) no-repeat bottom center;}
.common-header .container .sub-nav{ float:right; width:415px; color:#c2c2c2;}
.common-header .container .sub-nav li{ float:left;}
.common-header .container .sub-nav .login-actions a,.common-header .container .sub-nav .login-actions span{ color:#09F;}
.common-header .container .sub-nav li span{ padding-right:5px;}
