@charset "utf-8";
/* CSS Document */

body,html {min-width:1200px;font-family:'Microsoft Yahei',Arial;margin:0;padding:0;font-size:14px; color:#666; background-color:#f0f0f0;}
button,dd,div,img,input,li,ol,p,ul {margin:0;padding:0;border:0;}
ul li{ list-style:none !important; vertical-align:bottom;}
h1,h2,h3,h4,h5,h6,b {margin:0;padding:0;font-weight:500;}
input {font-size:14px;vertical-align:middle;color:#333;outline:0;}
a {cursor:pointer;outline:0; text-decoration:none; color:#333;}
a:hover {text-decoration:none; color:#ec5251;}
i { font-style:normal;}
.clearfix {*zoom:1;}
h3 { font-size:18px;}
.clear{clear:both;height:1px;width:100%; overflow:hidden; ma gin-top:-1px} 

.center { width:1200px; margin:0 auto; padding:0;}
.footer-txt {text-align:center; font-size:16px; height:35px; color:#333333; margin-bottom:20px;}

.middle2 { margin-top:0px;}
.box { width:100%; overflow:hidden;}
.but-all { cursor:pointer; display:inline-block; text-align:center; font-size:18px; color:#fff; border-radius:8px;}
.p_tex {overflow:hidden; display:block;}
.over { overflow:hidden;}
.top30 { margin-top:30px;}
.mbot30 { margin-bottom:30px;}
.mtb30 { margin:30px auto;}
.pbot30 { padding-bottom:40px;}
.pad50 { padding:50px 0 20px 0}
.pad30 { padding:30px 0;}
.marginleft { margin-left:20px;}
.margin20 { margin:0 20px;}
.height313 { height:313px;}
.indexload { margin:0 auto;padding:0; width:50px; height:50px; margin-top:145px; }
.slh {overflow: hidden; -ms-text-overflow: ellipsis; -o-text-overflow: ellipsis; -webkit-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap;word-wrap: normal;}
.picH { height:313px; overflow:hidden;}
.container {width: 1200px;min-width: 1200px; overflow:hidden;}
.main{ margin:30px auto; overflow:hidden; padding-bottom:30px;}

/*↓↓↓↓↓↓↓↓↓nav导航栏部分*/
.subMenu { top: 41px;height: 82px; width: 100%;background:#fff; z-index:10; border-bottom:1px solid  #f2f2f2; }
.subMenu .black {width:100%;height: 92px;display: none;}
.subMenu .navigation-up {height:82px;background:#ffffff; position:stic;left:0;top:41px; z-index: 10000;overflow: hidden;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);}
.subMenu .navigation-up .navigation-inner {margin:0 auto;width:1200px;position:relative}
.subMenu .navigation-up .navigation-inner .logo {width:192px; height:63px; float:left; overflow:hidden; margin-top:15px;}
.subMenu .navigation-up .navigation-inner .logo a img{ width:100%; height:100%;}
.subMenu .navigation-up .navigation-inner .navigation-v3{float:right;_margin-left:10px ; }
.subMenu .navigation-up .navigation-inner .navigation-v3 ul{float:left; overflow:hidden;}
.subMenu .navigation-up .navigation-inner .navigation-v3 ul li {float: left;color: #0C1C24;height: 82px;font-weight: normal;padding: 0;margin: 0;font-size: 16px; position: }
.subMenu .navigation-up .navigation-v3 li a{padding:0 15px;display:inline-block;height:80px; line-height:80px;}
.subMenu .navigation-up .navigation-v3 li a:hover { color: rgb(207, 27, 26);}
.subMenu .navigation-down{position: absolute;top: 88px;left: 2px;width: 100%;}
.subMenu .navigation-down .nav-down-menu{ width:100%;margin:auto;background:#efefef;position:absolute;top:0px;}
.subMenu .navigation-down .nav-down-menu .navigation-down-inner{margin:auto;width:1200px;position:relative;}
/*.djfxsq {
	width: 29px;
	height: 17px;
	margin-top: 38px;
	background: url(../images/icon-new.gif) no-repeat;
	position: absolute;
}*/

.nav-up-selected,.navigation-up .navigation-v3 li.on{background:#efefef; color:#c40000; }
.allCur a{ border-bottom:2px solid #ec5251; font-weight:600 ;}

.mm2 { position:fixed; top:0px; height: 0;}
#MMS { width:100%; padding:0;}
.mm2 .navigation-up{ height:60px !important;}
.mm2 .logo{ margin-top:0px !important;}
.mm2 .navigation-v3 li { height:60px !important; line-height:60px !important;}
.mm2 .navigation-v3 li a{height:57px !important; line-height:57px !important;}
.mm2 .djfxsq{ margin-top:22px ;}
.mm2 .logo a img{ width:137px !important; height:45px !important; margin-top:7px!important;}
/***--top--*/


/*↓↓↓↓↓↓↓↓↓直通车部分*/

.top-bg {width: 100%; height: 41px; background: #333333;}
.top-bg .top-box { height: 41px; line-height: 41px;/**/ position:relative;}
.top-bg .top-box .top-box-left { width: 230px; float: left; text-align:center;}
.top-bg .top-box .top-box-left .top-box-l { float:left; width: 108px;background:#fff;}
.top-bg .top-box .top-box-left .top-box-r { float:right; width: 122px; background: #4a4a4a;}
.top-bg .top-box .top-box-left .top-box-r a { color:#acacac ;}
.top-bg .top-box .top-box-right { float:right; width:554px; }
.top-bg .top-box .top-box-right .tel { width:468px; float:left; background:url(../images/tel.png) no-repeat;}
.dl { width:67px; height:45px; padding-top:1px; float:left; background:url(../images/dl-bg.jpg) no-repeat; position:absolute; top:0; margin-left:468px; color:#FFF; text-align:center; z-index:11;}
.dl a { color:#FFF;}
.mfzc { float:right; text-align:center; padding-top:1px;}
.mfzc a { color:#FFF;}
	/**登录后样式**/
.top-bg .top-box .top-box-right .welcome { float:right; width:78px; color:#fff;}
.top-bg .top-box .top-box-right .welcome .welcome_h4 { width:50px; float:left;}
.top-bg .top-box .top-box-right .welcome .welcome_span { float:left; background:url(../images/dl-bg.png) no-repeat; height:41px; width:78px; z-index:11; margin-left:5px; padding: 0 15px 0 5px; top:0; text-align:center;cursor:pointer; overflow:hidden; word-wrap:break-word; white-space: nowrap;text-overflow:ellipsis; display:block;}
.top-bg .top-box .top-box-right .welcome .welcome_i { width:7px; height:4px; background:url(../images/welcome.png) no-repeat; margin-top:-20px; float:right; margin-right:-10px;}
.top-bg .top-box .top-box-right .welcome .welcome_i2 { float:right; width:15px; height:15px; border-radius:15px; background:#f00; margin-top:10px; font-size:12px; line-height:15px; }
.top-bg .top-box .top-box-right .welcome .welcome_span:hover ul { width:123px; z-index:12; display:block; position:absolute; top:41px; right:-41px; z-index:98; border:1px solid #efefef; background:#fff; }
.top-bg .top-box .top-box-right .welcome .welcome_span ul li { height:35px; line-height:35px; float:left;position:relative; width:103px; }
.top-bg .top-box .top-box-right .welcome .welcome_span ul li a{ text-decoration:none; display:block; text-align:left; padding-left:20px; color:#333333; float:left;}
.top-bg .top-box .top-box-right .welcome .welcome_span ul li a:hover{color:#d6142b;}
.top-bg .top-box .top-box-right .welcome .welcome_line { border-top:1px solid #efefef; width:123px;}





/**登录**/
.moniAall {font-size:12px; float:left; width:100%; display:block; color:#ed6c6c; background:url(../images/p_a11_bg.png) no-repeat 0; padding-left:20px;}
.theme-popover-mask {z-index: 9998;position:fixed;top:0;left:0;width:100%;height:100%;background:#000;opacity:0.4;filter:alpha(opacity=40);display:none;}
.theme-popover {z-index:9999;position:fixed;top:50%;left:50%;width:940px;height:466px;margin:-233px 0 0 -470px;border-radius:5px;border:solid 2px #666;background:#fff;display:none;box-shadow: 0 0 10px #666;
}
.theme-poptit {position: relative;	}
.theme-poptit .close {float:right;color:#999;padding:5px;font:bold 24px/24px simsun;text-shadow:0 1px 0 #ddd}
.theme-poptit .close:hover {color:#444;}
.miniPd {float:left; width:100%; display:block; height:20px; margin-top:6px;}
.moniLeft { float:left; width:465px; height:420px; border-right:1px solid #e2e2e2; padding:46px 0 0 35px;}
.moniLeft img { width:430px; height:317px;}
.fcMnBtn { width:282px; height:52px; line-height:52px; padding-left:150px; float:left; display:block; background:url(../images/fcMnBtn.png) no-repeat 0 -52px; cursor:pointer;color:#08a0e9; font-size:16px;}
.fcMnBtn:hover { background-position:0 0 ; }
.moniRight { float: right;width: 403px;margin-top: 10px;display: block;padding-left:35px;}
.moniH1 { font-size:30px; font-weight:bold;margin-bottom:20px;}
.mnkhList {  float:left; border:1px solid #dedede; }
.mnkhW{width:370px; }
.mnkhWX { width:225px;}
.mnkhSp { width:46px; height:46px;display:block; float:left;}
.mnkhList2 { width:135px; height:46px; line-height:46px; float:left; border:1px solid #bf1d1d; color:#bf1d1d; margin-left:8px; text-align:center; cursor:pointer;}
.mnkhico1 { background-image:url(../images/mnzh_ico01.jpg); }
.mnkhico2 { background-image:url(../images/mnzh_ico02.jpg); }
.mnkhico3 { background-image:url(../images/mnzh_ico03.jpg); }
.mnkhList input[type="text"]{ 
	background:url(../images/joinname_bg.jpg) repeat-x;
	float:right;
	padding-left:10px; 
	width:314px; 
	height:46px;
	color:#999;
	font-size:18px;
}
.mnkhWX input[type="text"]{
	width:169px;
}
.mnkhList3 { width:370px;float:left;  line-height:40px; }
.mnkuX { margin-right:5px; }
.mnkhList3 a {color:#666666;}
.mhnkhBut2 { height:50px; line-height:50px; text-align:center; background:#e83433;
	border-radius:8px;
	-webkit-border-radius:8px;
	-ms-border-radius:8px;
	-moz-border-radius:8px;
}
.mhnkhBut2 a {color:#fff; font-size:19px;}
.mhnkhBut2:hover { background:#f14342;}


/*↓↓↓↓↓↓↓↓↓footer部分*/

.footer { width:100%; overflow:hidden; border-top:3px solid #dfdfdf; clear:both; background-color:#fff;}
.footer .foot-box { padding:30px 0 30px 0; background:#fff; overflow:hidden;}
.foot-ico { padding:0 80px 40px; margin-bottom:30px; border-bottom:1px solid #dfdfdf; overflow:hidden; }
.foot-ico li { width:165px; float:left; height:61px; display:inline-block; background:url(../images/foot-ico.png) no-repeat; padding-left:85px; margin-right:10px;  }
.foot-ico li p { color:#929292;font-size:12px; margin-top:3px;}
.px { font-size:16px; color:#333333;} 
.foot-ico .gsy { background-position: left 0;}
.foot-ico .gpjy { background-position: left -61px;}
.foot-ico .zjaq { background-position: left -122px;}
.foot-ico .zgpt { background-position: left -183px;}

.footer .foot-box .footer-left {float:left; padding-left:20px; }
.footer .foot-box .footer-left a {color:#999999;}
.footer .foot-box .footer-left a:hover { color:#d6142b;}
.footer-left li { float:left; display:inline-block; }

.blankAll { background:url(../images/foot-ico-02.png) no-repeat; padding-left:40px; padding-bottom:4px;}
.blankAll2 { background:url(../images/foot_bankon.png) no-repeat; display:block;}
.blankAll2:hover { background:url(../images/foot_bank.png) no-repeat;display:block;}
.footer .foot-box .footer-left .zgyh,.footer .foot-box .footer-left .zgyh:hover{ background-position:0 0;width: 112px;height: 31px;}
.footer .foot-box .footer-left .zxyh,.footer .foot-box .footer-left .zxyh:hover{ background-position:-112px 0;width: 113px;height: 31px;}
.footer .foot-box .footer-left .zsyh,.footer .foot-box .footer-left .zsyh:hover{ background-position:-225px 0;width: 112px;height: 31px;}
.footer .foot-box .footer-left .jtyh,.footer .foot-box .footer-left .jtyh:hover{ background-position:0 -31px;width: 112px;height: 30px;}
.footer .foot-box .footer-left .jtyh,.footer .foot-box .footer-left .jtyh:hover{ background-position:0 -31px;width: 112px;height: 30px;}
.footer .foot-box .footer-left .zxxyh,.footer .foot-box .footer-left .zxxyh:hover{ background-position:-112px -31px;width: 113px;height: 30px;}
.footer .foot-box .footer-left .nyyh,.footer .foot-box .footer-left .nyyh:hover{ background-position:-225px -31px;width: 112px;height: 30px;}
.footer .foot-box .footer-left .panyh,.footer .foot-box .footer-left .panyh:hover{ background-position:0 -61px;width: 112px;height: 30px;}
.footer .foot-box .footer-left .pfyh,.footer .foot-box .footer-left .pfyh:hover{ background-position:-112px -61px;width: 113px;height: 30px;}
.footer .foot-box .footer-left .gsyh,.footer .foot-box .footer-left .gsyh:hover{ background-position:-225px -61px;width: 112px;height: 30px;}
.footer .foot-box .footer-left .jsyh,.footer .foot-box .footer-left .jsyh:hover{ background-position:0 -91px;width: 112px;height: 30px;}
.footer .foot-box .footer-left .msyh,.footer .foot-box .footer-left .msyh:hover{ background-position:-112px -91px;width: 113px;height: 30px;}


.footer .foot-box .footer-left .hjw { background-position: left -115px}
.footer .foot-box .footer-left .hjw:hover { background-position: -157px -115px}
.footer .foot-box .footer-left .htw { background-position: left -184px}
.footer .foot-box .footer-left .htw:hover { background-position: -157px -184px}
.footer .foot-box .footer-left .jsdt { background-position: left -138px}
.footer .foot-box .footer-left .jsdt:hover { background-position: -157px -138px}
.footer .foot-box .footer-left .baid { background-position: left -207px}
.footer .foot-box .footer-left .baid:hover { background-position: -157px -207px}
.footer .foot-box .footer-left .sdjj { background-position: left -160px}
.footer .foot-box .footer-left .sdjj:hover { background-position: -156px -160px}
.footer .foot-box .footer-left .jzzx { background-position: left -230px}
.footer .foot-box .footer-left .jzzx:hover { background-position: -157px -230px}

.footer .foot-box .footer-right { float:right;overflow:hidden; }
.footer .foot-box .footer-right .foot-lxwm  { float:left; overflow:hidden; width:320px; color:#999;}
.footer .foot-box .footer-right .foot-lxwm li { background:url(../images/foot-ico-03.png) no-repeat; display:inline-block; height:35px; padding-left:40px; width:280px; margin-bottom:10px; float:left;}
.footer .foot-box .footer-right .foot-lxwm .photel { background-position: left 0 ;}
/*
.footer .foot-box .footer-right .foot-lxwm .photel:hover { background-position:left -35px;}
.footer .foot-box .footer-right .foot-lxwm .add:hover { background-position:left -105px;}
*/
.footer .foot-box .footer-right .foot-lxwm .add { line-height:35px; background-position: left -70px;}

.footer .foot-box .footer-right .foot-lxwm p { font-size:12px; color:#888888;}
.footer .foot-box .footer-right .foot-lxwm .foot-span { font-size:24px; line-height:17px;}
.footer-p { text-align:left;}
.footer .foot-box .footer-right .foot-lxwm .wx { width:117px; height:117px; background:url(../images/wx.jpg) no-repeat; float:right; margin-top:-45px;}
.footer .footer-bottom { width:100%; background:#2b2b2b; overflow:hidden; padding-bottom:15px;} 
.footer .footer-bottom .copyright { height:84px;color:#999999; text-align:center; line-height:30px; margin-top:20px;}
.footer .footer-bottom .copyright a { color:#999999; padding:0 10px;}
.footer .footer-bottom .copyright a:hover { color:#fff;}
.w450{ width:385px;}
.w314{ width:310px;}
.hztit{ background:url(../images/footbg2.png) no-repeat; width:28px; height:87px; margin-top:-30px; float:left;}
.hzdw{ background-position: -28px 0;}
.lxwm{ background-position: -56px 0;}
.bankbox li a span{ font-size:0;}
.danwbox li{ width:155px; line-height:35px;}



/*********************************模拟账号登录*************************************/




/**************************** 二维码 **********************************************/
.QRCodeBg { width:100%; background:url(../images/QRCodeBg.jpg) no-repeat center; height:768px; overflow:hidden; display:block; position:relative; }
.QRCodeBg .center .QRCodeLeft { width:465px; height:583px; display:block; background: url(../images/QRCode.png) no-repeat; position:absolute; bottom:0; margin-left:130px;}

.QRCodeBg .center .QRCodeRight { float:right; width:409px; display:block; margin-top:215px; margin-right:190px;}
.QRCodeBg .center .QRCodeRight .QRCodeName {     line-height: 117px;
    font-size: 24px;
    color: #4077a5;
    padding-left: 78px;}
.QRCodeBg .center .QRCodeRight .QRCodeP { display:block; color:#4077a5; font-size:20px; line-height:30px; float:left; width:509px;}
.QRCodeBg .center .QRCodeRight .QRCodeP .QRCodeI { color:#ee8601;}
.QRCodeBg .center .QRCodeRight .QRCodeP .QRCodeI2 { width:140px; height:48px; display:block; line-height:48px;  text-align:center; background:#ff9804; color:#fff; 
border-radius:8px; 
box-shadow: -5px 5px 5px #CCC; 
 float:left; cursor:pointer;
 margin:20px auto;}
.QRCodeP span { float:left; display:block; line-height:38px; width:80px;}
.QRCodeP p { float: left;display: block;line-height: 38px; width:400px;}


.QRCodeBg2 { width:100%; background:url(../images/QRCodeBg2.jpg) no-repeat center; height:768px; overflow:hidden; display:block; position:relative; }
.QRCodeBg2 .QRCodeBg2Con { width:800px; margin:0 auto;}
.QRCodeBg2 .QRCodeBg2Con .QRCode2Name { width:100%; text-align:center; margin-top:270px;font-size: 30px;color: #4077a5;}
.QRCodeBg2 .QRCodeBg2Con .QRCode2All { display:block;background:#ff9804; color:#fff; border-radius:8px; box-shadow: -5px 5px 5px #CCC; padding:10px 25px; cursor:pointer; margin-top:100px; font-weight:bold; font-size:22px;}
.QRCodeBg2 .QRCodeBg2Con .QRCode2BntA { float:left; margin-left:250px;}
.QRCodeBg2 .QRCodeBg2Con .QRCode2BntB { float:right; margin-right:250px;}




/**************************** 查询 ***********************************************/
.inquire { width:100%; height:578px; display:block; background:url(../images/inquire.jpg) no-repeat center; padding-top:190px;}
.inquire .inquireLeft { width:342px; height:341px; float:left; display:block; background:url(../images/inquire01.jpg) no-repeat; margin-left:30px; }
.inquire .inquireRight { width:602px; float:right; overflow:hidden; margin-right:200px;}
.inquire .inquireRight .inquireName { width:602px; height:144px; float:left; display:block; background:url(../images/inquire02.jpg) no-repeat;} 
.inquire .inquireRight .inquireCX { float:left; width:511px; display:block; margin-left:50px;}
.inquire .inquireRight .inquireCX .inquireTab { height: 47px;line-height: 47px;font-size: 18px;cursor:pointer;}
.inquire .inquireRight .inquireCX .inquireTab .inquireHd li.on a { background:url(../images/inquire03.png) no-repeat; background-position:0 -36px; height:36px; display:block;}
.inquire .inquireRight .inquireCX .inquireTab li { float:left; display:block;}
.inquire .inquireRight .inquireCX .inquireTab li a {color:#163d68; font-size:18px; line-height:36px; height:36px; display:block; background:url(../images/inquire03.png) no-repeat; padding-left:30px; width:100px;} 
.inquire .inquireRight .inquireCX .inquireSearch {height:46px;margin-top:1px;}
.inquire .inquireRight .inquireCX .inquireSearch .inquireText { width: 370px;height: 44px;line-height: 44px; font-size: 17px; color: #333;background:url(../images/inquire04.png) no-repeat;padding: 0 10px 0 44px;float: left;border: 1px solid #004986;}
.inquire .inquireRight .inquireCX .inquireSearch .inquireBtn {width: 85px; height: 46px; line-height: 46px; font-size: 24px;text-align: center;float: left; border: none;background: #004986;color: #fff;float: left;cursor: pointer;}

/**弹窗**/
.theme-popover-mask{
	z-index:1;
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:#000;
	opacity:0.5;
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	display:none;
}
.inquireFO {height:285px;}
.inquireFT {height:322px;}
.inquireFOP { margin-top:125px;}
.inquireFTP {}
.inquireFB { 
	background:url(../images/inquireBntBG.png);
	text-align:center;
	border-radius:5px;
	-webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px; 
	width:95px; 
	height:38px;
	cursor:pointer;
	font-size:18px;
	color:#4470a9;
	font-weight:bold;
	border:1px solid #9abfef;
}

.inquireForm{width:586px;position: fixed;top: 50%;left: 50%;margin: -150px 0 0 -293px;z-index:99;display:none; background:#fff;}
.inquireForm .inquireFormOLeft { float:left; width:220px; background:url(../images/inquireImgBg.jpg) no-repeat;}
.inquireForm .inquireFormRight { float:right; width:336px; background:url(../images/inquireBg.jpg); padding-left:30px;}
.inquireForm .inquireFormRight .inquireFormP { display:block; color:#fff2a7; float:left; line-height:50px;}
.inquireForm .inquireFormRight .inquireFormBnt {line-height:38px; float:left;}
.inquireForm .inquireFormTLeft { float:left; width:220px; }
.inquireForm .inquireFormTLeft img { width:220px; height:322px;}
.inquireForm .inquireFormRight .inquireFormCenter { display:block; float:left; margin-top:62px;}
.inquireForm .inquireFormRight .inquireFormCenter .inquireECP { font-size:14px; color:#fff; line-height:30px;}

.inquireFormClose {float:right;width:31px;height:32px; background:url(../images/inquireClose.png) no-repeat;display:block;cursor:pointer;margin-left:489px; position:absolute; right:0;}

.inquireForm02 {width:471px;position: fixed;top: 50%;left: 50%;margin: -150px 0 0 -235px;z-index:99;display:none;}
.inquireForm02 .inqF02C { float:left; width:220px; height:322px; overflow:hidden; display:block; position:relative;}
.inquireForm02 .inqF02C img {width:220px; height:322px; border:0 none;}
.inquireForm02 .inqF02C .inqF02CTxt {width:196px;height:40px; background: url(../images/1px.png); position:absolute;left:0px;bottom:0px;padding:0 12px;border-top:2px solid #009dcb;overflow: hidden;}
.inquireForm02 .inqF02C .inqF02CTxt .inqF02CTxtP { font-size:14px; color:#fff; line-height:30px; padding-top:5px;}
.inquireForm02 .inqF02C .inqF02CTxt .inquireECP2 { display:block; color:#fff; float:left; margin:5px 0; }
.inquireForm02 .inqF02C .inqF02CTxt .inquireECP2Bnt {line-height:38px; float:left; margin-top:5px;}
